{% extends 'base.html' %}

{% block title %}Expiring Soon{% endblock %}

{% block content %}
    <h1>Batches Expiring Soon</h1>
    <br/>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>UPC</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Expiration Date</th>
            </tr>
        </thead>
        <tbody>
            {% for batch in batches %}
            <tr>
                <td>{{ batch.product.name }}</td>
                <td>{{ batch.product.item_number }}</td>
                <td>{{ batch.quantity }}</td>
                <td>{% if batch.is_steel %}Steel{% else %}Floor{% endif %}</td>
                <td>{{ batch.expiration_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
