{% extends 'base.html' %}

{% block title %}Item List{% endblock %}

{% block content %}
    <h1>Item List</h1>
    <a href="{% url 'add_item' %}" class="btn btn-primary mb-3">Add New Item</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Item Number</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Entry Date</th>
                <th>Expiration Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.item_number }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.entry_date }}</td>
                <td>{{ item.expiration_date }}</td>
                <td><a href="{% url 'view_barcode' item.id %}">View Barcode</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
